*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(158, 239, 239);
}

 
.hide {
    display: none;

}

#header {
    background-color:rgb(95, 220, 97);
    display: flex;
    justify-content: center;
    border-radius: 8px;
    color: azure;
}

.container {
    /* display: flex; */
    flex-direction: column;
}